<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>
            お店情報を入力
        </ion-title>


        <ion-buttons slot="end">
            <ion-button>
                登録
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-header>
    <ion-toolbar>
        <ion-title id="trigger-button" color="danger"> 23/100</ion-title>
    </ion-toolbar>

    <ion-popover trigger="trigger-button" [arrow]="true">
        <ng-template>
            <ion-text color="primary" style="padding: 5px;">
                入力したお店の情報が詳しいほど数字が上がります
            </ion-text>
        </ng-template>
    </ion-popover>
</ion-header>

<ion-content [fullscreen]="true">

    <form>

        <!-- 基本情報 -->
        <swiper [pagination]="true" [navigation]="true">
            <ng-template swiperSlide>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle></ion-card-subtitle>
                        <ion-card-title>お店の情報</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-item>
                            <ion-label position="stacked">店名</ion-label>
                            <ion-input type="text" placeholder="お店の名前を入力"></ion-input>
                        </ion-item>

                        <!-- 店のタイプ -->
                        <ion-item>
                            <ion-label position="stacked">店のタイプ</ion-label>
                            <ion-segment value="normal">
                                <ion-segment-button value="normal">一般店</ion-segment-button>
                                <ion-segment-button>セルフ店</ion-segment-button>
                                <ion-segment-button>製麺所</ion-segment-button>
                            </ion-segment>
                        </ion-item>


                        <ion-item>
                            <ion-label position="stacked">コメント</ion-label>
                            <ion-textarea placeholder="お店のコメントを入力" [rows]="5"></ion-textarea>
                        </ion-item>


                    </ion-card-content>

                </ion-card>
            </ng-template>

            <!-- 営業時間 -->
            <ng-template swiperSlide>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle></ion-card-subtitle>
                        <ion-card-title>営業時間</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>

                        <ion-item>
                            <ion-label position="stacked">定休日</ion-label>
                            <ion-row>
                                <ion-col *ngFor="let val of this.WEEKS " size="1.5">
                                    <span>{{val}}</span>
                                    <br>
                                    <ion-checkbox checked></ion-checkbox>
                                </ion-col>
                            </ion-row>

                            <ion-label position="stacked">営業時間</ion-label>
                            <ion-row>
                                <ion-col button="true" id="open-start-input" detail>
                                    <ion-input type="text" placeholder="開始時刻" name="start" [(ngModel)]="startTime"
                                        readonly>
                                    </ion-input>
                                    <ion-popover trigger="open-start-input" show-backdrop="false">
                                        <ng-template>
                                            <ion-datetime #popoverstart presentation="time"
                                                (ionChange)="startTime =formatDate(popoverstart.value)">
                                            </ion-datetime>
                                        </ng-template>
                                    </ion-popover>
                                </ion-col>

                                <ion-col style="display: flex; justify-content: space-evenly;align-items: center;">
                                    <span>-</span>
                                </ion-col>

                                <ion-col button="true" id="open-end-input">
                                    <ion-input type="text" placeholder="終了時刻" name="end" [(ngModel)]="endTime" readonly>
                                    </ion-input>
                                    <ion-popover trigger="open-end-input" show-backdrop="false">
                                        <ng-template>
                                            <ion-datetime #popoverend presentation="time"
                                                (ionChange)="endTime =formatDate(popoverend.value)"></ion-datetime>
                                        </ng-template>
                                    </ion-popover>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ng-template>

            <!-- 住所 -->
            <ng-template swiperSlide>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle></ion-card-subtitle>
                        <ion-card-title>お店の住所</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <!-- 郵便番号 -->
                        <ion-item>
                            <ion-label position="stacked">郵便番号</ion-label>
                            <ion-row>
                                <ion-col size="1" style="display: flex; align-items: center;">
                                    <ion-icon [src]="'./assets/icon/address.svg'"></ion-icon>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-input type="number" placeholder="761" minlength="3"></ion-input>
                                </ion-col>
                                <ion-col size="1"
                                    style="display: flex; justify-content: space-evenly;align-items: center;">
                                    <span>-</span>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-input type="number" placeholder="0123" minlength="4"></ion-input>
                                </ion-col>

                                <ion-col size="4">
                                    <ion-button>
                                        自動入力
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-item>

                        <!-- 市町村 -->
                        <ion-item>
                            <ion-label position="stacked">市町村</ion-label>
                            <ion-select value="" multiple="false" placeholder="選択">
                                <ion-select-option *ngFor="let cityData of this.kagawaPrefCityListObserver | async"
                                    value="{{cityData.CityCode}}">
                                    {{cityData.CityName}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">町名・番地</ion-label>
                            <ion-input type="text" placeholder="番地・住所"></ion-input>
                        </ion-item>

                        <ion-item [lines]="'none'">
                            <ion-item slot="start" [lines]="'none'">
                                <ion-label position="stacked">駐車場有</ion-label>
                                <ion-checkbox></ion-checkbox>
                            </ion-item>

                            <ion-item slot="end" [lines]="'none'">
                                <ion-label style="font-size: 11px;" position="stacked">コインパーキング有</ion-label>
                                <ion-checkbox></ion-checkbox>
                            </ion-item>

                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">メモ</ion-label>
                            <ion-input type="text" placeholder="坂ありなど"></ion-input>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ng-template>
        </swiper>

    </form>
</ion-content>